.nav-bar {
    overflow: hidden;
    background-color: #282c34;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

a:active {
    background-color: #525257;
    color: white;
}

.nav-bar-right {
    float: right;
}

@media screen and (max-width: 580px) {
    .nav-bar a {
        float: right;
        display: inline;
        text-align: left;
    }
    .nav-bar-right {
        float: none;
    }
}