.footer {
    background-color: #000;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: block;
}

.footer-container {
    padding-right: 3rem;
    padding-left: 3rem;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .footer-container  {
        max-width: 1140px
    }
}
@media (min-width: 992px) {
    .footer-container  {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .footer-container  {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .footer-container  {
        max-width: 540px;
    }
}

.container-div {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875em;
    display: block;
}

.privacy {
    margin-bottom: 0.5rem;
    display: block;
}

.terms {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.faq {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.link {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;

}