.home {
    width: 100%;
    height: 100%;
    background-color: white;
}

.homePage {
    background-color: rgba(248, 249, 250, 0.8);
    width: 100%;
    padding-top: 80px;
    padding-bottom: 64px;
}

.page {
    margin-left: 78px;
    margin-right: 78px;
}

@media (max-width: 992px) {
    .page {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .page {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    .page {
        max-width: 540px;
    }
}

.row {
    display: flex;
    align-items: center !important;
    flex-wrap: wrap;
}

@media (max-width: 992px) {
    .row {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .text-element {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (max-width: 992px) {
    .texts {
        text-align: left !important;
    }
}

@media (max-width: 992px) {
    .texts {
        margin-bottom: 0 !important;
    }
}

.appParagraph {
    color: #6c757d;
    font-weight: 500;
    margin-bottom: 3rem;
    font-size: 1.25rem;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

@media (max-width: 992px) {
    .appParagraph {
        text-align: left !important;
    }
}

.icons {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

@media (max-width: 992px) {
    .icons {
        flex-direction: column !important;
    }
}

.a-item {
    margin-bottom: 1.5rem;
    color: #2937f0;
    text-decoration: underline;
    text-align: center;
}

.a-item-image {
    height: 3rem;
    vertical-align: middle;
}

@media (max-width: 992px) {
    .a-item {
        margin-bottom: 0 !important;
    }
}

svg {
    vertical-align: middle;
}

.shape-1 {
    position: absolute;
    height: 1rem;
    width: 1rem;
    transform: rotate(
            -10deg
    );
    fill: #2937f0;
    bottom: 15%;
    left: 10%;
}

.shape-2 {
    position: absolute;
    height: 0.75rem;
    width: 0.75rem;
    fill: #2937f0;
    top: 15%;
    right: 10%;
}

@media (max-width: 576px) {
    .shape-1 .shape-2 {
        display: block !important;
    }

    .shape-1 {
        bottom: 15%;
        left: -20%;
    }

    .shape-2 {
        top: 15%;
        right: -20%;
    }
}

.device-wrapper {
    max-width: 15rem;
    width: 100%;
}

@media (max-width: 1400px) {
    .device-wrapper {
        min-width: 17rem;
    }
}

@media (max-width: 1200px) {
    .device-wrapper {
        min-width: 15rem;
    }
}

@media (max-width: 992px) {
    .device-wrapper {
        min-width: 15rem;
    }
}

@media (max-width: 768px) {
    .device-wrapper {
        min-width: 15rem;
    }
}

@media (max-width: 576px) {
    .device-wrapper {
        min-width: 12.5rem;
    }
}

.device {
    position: relative;
    background-size: cover;
    padding-bottom: 198.898071625%;
}

.device::after {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: "";
    background-image: url(../img/portrait_black.png);
}

.screen {
    top: 3.1855955679%;
    left: 6.8870523416%;
    width: 86.2258953168%;
    height: 93.6288088643%;
    background-color: #000;
}

.device .screen {
    position: absolute;
    background-size: cover;
    pointer-events: auto;
}

.measured-device {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.video {
    max-width: 100%;
    height: 100%;
}