.section {
    background: linear-gradient(45deg, #2937f0, #9f1ae2);
    display: block;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.section-container {
    padding-right: 3rem;
    padding-left: 3rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

@media (min-width: 1200px) {
    .section-container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .section-container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .section-container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .section-container {
        max-width: 540px;
    }
}

.section-text {
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #fff;
    text-align: center;
    margin-bottom: 1.5rem;

    margin-top: 0;
    line-height: 1.2;

    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media (min-width: 1200px) {
    .section-text {
        font-size: 2rem;
    }
}

.section-div {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

@media (min-width: 992px) {
    .section-div {
        flex-direction: row;
    }
}