.usage {
    background: linear-gradient(45deg, #78cba6, #77a0d4);
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: block;
}

.usage-box {
    padding-right: 1rem;
    padding-left: 1rem;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .usage-box {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .usage-box {
        max-width: 960px
    }
}

@media (min-width: 768px) {
    .usage-box {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .usage-box {
        max-width: 540px;
    }
}

.usage-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.usage-text {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    display: block;
    color: #fff;
    font-size: calc(1.375rem + 1.5vw);
    margin-bottom: 1.5rem;
}

@media (min-width: 1200px) {
    .usage-text {
        flex: 0 0 auto;
        font-size: 2.5rem;
    }
}