.base-container{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input {
    min-width: 250px;
    height: 20px;
    border-color: #b6b6bf;
    border-radius: 4px;
}

.submit-button {
    padding-bottom: 18px;
}

.btn {
    min-width: 250px;
    padding: 5px 20px;
    border: 0;
    background-color: #3d7dad;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
}

.btn:hover {
    background-color: #204965;
}
.btn:active {
    background-color: #18364e;
}

.btn:focus {
    outline: none;
}

label {
    padding-bottom: 4px;
}

h1,h2,h3,h4,h5,h6,label,span {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
}

.errors {
    color: red;
    width: 100%;
    height: 8px;
    padding-bottom: 16px;
}

.header{
    font-weight: bolder;
}

.inline {
    display: table;
}

.forgot-password {
    left: -100%;
    text-align: right;
    font-size: 13px;
    padding-right: 10px;
    color: #7f7d7d;
    margin: 0;
    text-decoration: none;
}

.forgot-password a {
    color: #167bff;
    text-decoration: none;
}

.redirects-right {
    display: table-cell;
    padding-bottom: 16px;
}

.redirects-left{
    display: table-cell;
}